{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}My Calendar{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}">
</head>
<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
    <script>
        // JavaScript для генерации случайных цветов
        document.addEventListener('DOMContentLoaded', function () {
            var tags = document.querySelectorAll('.tag');

            tags.forEach(function(tag) {
                var randomColor = getRandomColor();
                tag.style.backgroundColor = randomColor;
            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        });
    </script>
</body>
</html>